# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/com.unity.package-manager-ui/

# Visual Studio / Rider
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.suo
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb

# OS generated
.DS_Store
Thumbs.db
